@use '@styles/helpers' as *;
.products {
	&__list {
		display: flex;
		gap: fluid(40, 20);
		&-item {
			max-width: 300px;
			width: 100%;
		}
	}

	&__card {
		cursor: pointer;
		transition-duration: 0.3s;

		@include hover {
			scale: 1.05;
		}
	}

	&__textcontent {
		display: flex;
		flex-direction: column;
		gap: fluid(7, 5);
	}

	&__substrate {
		padding: fluid(20, 10);
		border-radius: var(--border-radius-sm);
		min-height: 300px;
		max-width: 300px;
		width: 100%;

		display: flex;
		flex-direction: column;
		gap: fluid(25, 15);
	}

	&__imgbox {
		& img {
			border-radius: var(--border-radius-sm);
		}
	}

	&__manipulation {
		display: flex;
		justify-content: flex-end;
	}

	&__button {
		padding: fluid(10, 5);
		background-color: var(--color-very-dark);
		border: var(--color-accent) solid 2px;

		@include hover {
			background-color: var(--color-accent);
		}
	}
}
